.advantages__container {
  height: 596px;
  padding-top: 70px;
  color: var(--color-383A4C);
  text-align: center;
}

.advantages__subtitle {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 25px;
}

.advantages__about-us {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

