.advantages {
  padding-top: 70px;
  padding-bottom: 70px;
}

.advantages__container {
  color: var(--color-383A4C);
  text-align: center;
}

.advantages__subtitle {
  margin-bottom: 27px;

}

.advantages__about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 23px;
  max-width: 200px;
  margin: 0 auto 35px auto;
}

.advantages__about-us:before,
.advantages__about-us:after {
  content: '';
  display: block;
  width: 43px;
  height: 2px;
  background: #383A4C;
}

.advantages__text {
  max-width: 724px;
  margin: 0 auto 57px auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.advantages__under-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  max-width: 196px;
}

.advantages__list {
  max-width: calc(1267px - 333px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  row-gap: 40px;
  counter-reset: count 0;
}

.advantages__slider {
  display: none;
}

.advantages_block-text {
  width: var(--advantages-width-height);
  height: var(--advantages-width-height);
  border-radius: 100px;
  background-color: var(--color-23C7EC);
  margin-bottom: 16px;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  padding: 37px 44.82px 33px 11.18px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-basis: calc(100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count));
}

.advantages {
  --advantages-width-height: 122px;
  --cart-count: 4;
  --gap: 50px;
}

.advantages_block-text:after {
  content: counter(count);
  position: absolute;
  color: var(--color-FFFFFF);
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  counter-increment: count;
}

@media (max-width: 1024px) {

  .advantages__text {
    font-size: 16px;
    line-height: 23px;
  }

  .advantages_block-text {
    width: 104px;
    height: 104px;
  }

  .advantages_block-text:after {
    content: counter(count);
    position: absolute;
    color: var(--color-FFFFFF);
    font-weight: 500;
    font-size: 52px;
    line-height: 73px;
    counter-increment: count;
  }

  .advantages__under-text {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 730px) {
  .advantages__list {
    justify-content: center;
  }

  .advantages {
    --cart-count: 2;
    --flex-basis-current-value: calc(100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count));
  }

  .advantages__item {
    flex-basis: calc(var(--flex-basis-current-value) - 5%)
  }
}

@media (max-width: 480px) {
  .advantages__container {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .advantages {
    --cart-count: 1;
    --flex-basis-current-value: calc(100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count));
  }
}
