@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../font/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}


@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("../font/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3px;
}

.phone {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 4px;
}

.phone-small{
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("../img/hero/hero__phone-small.png");
  background-repeat: no-repeat;
}

.call-me-back {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  text-underline-position: under;
}

.subtitle {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.blue-button {
  border: none;
  background: #15A9CB;
  box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
  height: 48px;
  color: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.undertitle-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

@media (max-width: 1024px) {

  .phone {
    font-size: 21px;
    line-height: 25px;
  }

  .call-me-back {
    font-size: 13px;
    line-height: 15px;
  }

  .subtitle {
    font-size: 32px;
    line-height: 38px;
  }

  .undertitle-text {
    font-size: 20px;
    line-height: 23px;
  }
}

@media (max-width: 320px) {
  .blue-button {
    font-size: 16px;
    line-height: 19px;
  }
}
