.footer__container {
  min-height: 158px;
  background: #2F324B;
}

.footer__wrapper {
  padding-top: 45px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer__block-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__small-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

.footer__block-logo {
  display: flex;
  align-items: center;
  column-gap: 19px;
}

.footer__block-logo > .footer__small-text{
  max-width: 127px;
  text-align: left;
}

