.footer {
  background: #2F324B;
  padding-top: 45px;
  padding-bottom: 45px;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer__block-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__block-logo {
  display: flex;
  align-items: center;
  column-gap: 19px;
}

.footer__copyrights {
  max-width: 127px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  padding-bottom: 5px;
}

.footer__made-by {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  opacity: 1;
  padding-bottom: 3.2px;
  padding-right: 5px;
}

.footer__phone {
  padding-top: -3px;
}

.footer__call-me-back {
  padding-top: 1px;
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 49px;
    padding-bottom: 49px;
  }

  .footer__made-by{
    opacity: .5;
  }
}

@media (max-width: 666px) {

  .footer__made-by {
    display: none;
  }
}

@media (max-width: 665px) {

  .footer__block-bar {
    position: relative;
  }

  .footer__container {
    padding: 0;
  }

  .footer__block-bar {
    padding: 0 15px;
  }

  .footer__made-by {
    display: block;
    position: absolute;
    text-align: center;
    left: 0;
    top: 120px;
    width: 100%;
    order: 1;
    background-color: var(--color-2a2c3f);
    opacity: 1;
    color: gray;
    padding: 15px 0;
  }

}

@media (max-width: 480px) {
  .logo {
    width: 30px;
    height: 30px;
  }

  .footer__copyrights {
    font-size: 8px;
    line-height: 11px;
    max-width: 90px;
  }

  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .footer__made-by {
    top: 60px;
  }
}
